<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title>About Page</title>
</head>
<body>
    <div id="content">

        <h1>Welcome to about page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit dicta, eius blanditiis ex mollitia maxime possimus voluptate, aperiam esse officiis cum ad facilis laudantium adipisci ipsa, nesciunt tempore natus iste.
        Veniam ratione laborum consectetur suscipit corrupti, non sit totam nobis architecto magni? Temporibus cumque nesciunt, id officia voluptas, reprehenderit tempora, alias obcaecati libero ad quasi corporis sequi repellendus debitis! Reiciendis!
        Aperiam placeat praesentium consequuntur iure vero dicta distinctio excepturi, voluptatum, nemo eum, architecto ea tenetur non amet necessitatibus. Aperiam, atque ullam facilis qui modi minus aliquam impedit totam! Ut, maxime.
        Non, illum at porro voluptatem sit amet provident numquam nemo cupiditate corrupti. Voluptatum, nihil architecto! Quam, rerum porro. Exercitationem, voluptas ab minima fuga aperiam quasi dolorum. Similique officia rem temporibus!
        Dolore sapiente in consequuntur mollitia quos rerum quidem quas repellat commodi? Assumenda tempora quam velit dicta voluptate fugiat facilis ullam mollitia, quia maiores odio pariatur! Totam optio impedit fuga odio?</p>

    </div>

    <script>
        console.log("about page");
    </script>
</body>
</html>